/* cait's CSS  */

/* 
dark #171820
yellow #fdc029
orange df861d
red aa3d01
grey #bcb6ae
*/

 * {
  box-sizing: border-box;
} 



body { 
  background-image: url("/img/wood\ table\ .jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flexbox;
  width: 80%;
  background-color: #49494bbb;
  border: solid 8px #ffe809;
  color: white;
  margin: auto;
  align-items: center;;
  padding: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 25px;
  padding-bottom: 60px;
}

h1 { 
  color: #ffe809;
  font-size: 4em;
  font-weight: bolder;
  padding: 10px;
  font-family: 'Permanent Marker', cursive;
  line-height: 50px;
  text-shadow: black 2px 2px;
}

/*  font stuff */
h2 { 
  color: #2abe3e;
  font-size: 16pt;
  font-weight: bolder;
}

th{
  padding: 1px;
  color: rgb(171, 197, 228);
  
}
td{
  padding: 1px;
  color: rgb(207, 236, 173);
  text-align: center;
}

#content-wrap{
  min-width: 600px;
}