/* Nav Bar */

.nav {
  width: 100%;
  padding: 0;
  height: 40px;
  line-height: 40px;
  display: inline-flex;
  list-style: none;
  background-color: #fdc029;
  margin: 10px auto 30px auto;
}

.nav > li {
  float: left;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
}

.nav > li > a {
  color: #2abe3e;
  font-weight: bold;
}

.nav > li > a:hover {
  color: white;
  font-weight: bold;
}

/*  End Nav Bar*/

/*  Logo */

#logo { 
  position: relative;
  display: inline-flex;
  margin: auto;
}


#plate {
  display: inline-flex;
  float: right;
  max-width: 100px;
}
/* End page header  */


/*  link stuff  */
a {
  color: rgb(75, 180, 145)
}

a:hover {
  color: rgb(235, 79, 79);
}

/* Index page */

/* Map */
#map {
  width: 90%;
  height: 500px;
  margin: 10px;
}

.map {
  display: flex;
  width: 70%;
  margin: 2em auto;
  border: solid 1px #fdc029;
  border-radius: 5%;
  position: relative;
}

/*  End Map */

#yelp { 
  width: 80%;
  height: 325px;
  overflow: scroll;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.pure-form {
  text-align: center;;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-corner {
    background: #fdc029;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdc029;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdc029;
}

footer {
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  width: 100%;
  font-size: 18px;
  bottom: 0;

}

/*  about us */

.photo { 
  width: 200px;
  border-radius: 20%;
}

.icon {
  width: 50px;
  margin: 20px;
}


/* About Page */
.aboutTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 0 1em;
  color: white;
  width: 80%;
}

.teamMember {
  width:fit-content ;   
  color: #fdc129;
  font-family: 'Permanent Marker', cursive;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 10px;
  font-size:50px;
  text-align: center;
  vertical-align: middle;
}

.paraCell{
width: auto ;  
border: dashed 2px #fdc129;
border-radius: 15px;
padding: 15px;
font-family: 'Noto Sans TC', sans-serif;
font-size: 20px;
text-align:justify;
display: inline-block;
vertical-align: middle;
color: aliceblue;
}
