<header>
  <div id="nav-list">
    <!-- <p><img src="Lunch Box logo image here" class="logo" alt="logo"></p> -->
    <ul class="link-list">
      <li><a href ="/home" id="link-color" class="nav-bar">Home</a></li>
      <li><a href ="/input" id="link-color" class="nav-bar">Input</a></li>
      <li><a href ="/results" id="link-color" class="nav-bar">Results</a></li>
      <li><a href ="/about" id="link-color" class="nav-bar">About Us</a></li>
    </ul>
  </div>
</header>