<section id ="maps">

    var mymap = L.map('maps').setView([47.618249, -122.351872], 15);


</section>


https://api.mapbox.com/directions/v5/mapbox/walking/-122.351%2C47.618%3B-122.347252%2C47.618141?alternatives=true&geometries=geojson&steps=true&access_token=pk.eyJ1IjoiY2FpdGxlaWdoIiwiYSI6ImNrNXpua2ViNDAwNWkzbHBha2t0OXlodHYifQ.hEQxEYlhOFaZxwEi6ze16A

{longitude} {latitude}
{longitude} {latitude2}

https://api.mapbox.com/directions/v5/mapbox/walking/-122.351872%2C47.618249%3B{longitude}%2C{latitude}?alternatives=true&geometries=geojson&steps=true&access_token=pk.eyJ1IjoiY2FpdGxlaWdoIiwiYSI6ImNrNXpua2ViNDAwNWkzbHBha2t0OXlodHYifQ.hEQxEYlhOFaZxwEi6ze16A