
<div id='map'>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY2FpdGxlaWdoIiwiYSI6ImNrNXpua2ViNDAwNWkzbHBha2t0OXlodHYifQ.hEQxEYlhOFaZxwEi6ze16A';
var map = new mapboxgl.Map({
    container: 'map',
    center: [-122.351872, 47.618249],
    zoom: 15,
    style: 'mapbox://styles/mapbox/streets-v11',
});

map.addControl(
new MapboxDirections({
accessToken: mapboxgl.accessToken
}),
'top-left'
);
 
 </script>

</div>